
<div id="questions_div">
<p>
    Odevzdání hlasu sestává z několika kroků popsaných níže.<br />
    Pokud ještě nejste přihlášen, budete k tomu vyzván na konci hlasovacího procesu.
<p>
    
<ol>
    <li> <b>Vyberte si</b> možnosti, jimž dáváte přednost.<br />
<span style="font-size: 14pt;">Můžete snadno přecházet kupředu a zpět.</span></li>
<br />

    <li> <b>Zkontrolujte a potvrďte</b> svou volbu.<br />
<span style="font-size: 14pt;">
  Vaše volba bude bezpečně zašifrována ve vašem prohlížeči a obdržíte smart ballot tracker.<br />
</span>
</li>
<br />

    <li> <b>Odešlete</b> své zašifrované hlasování.<br />
<span style="font-size: 14pt;">
Před odesláním vašeho zašifrovaného hlasování ke zpracování budete vyzván, abyste se přihlásil.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Začít</button></div>
</div>

