
<div id="questions_div">
<p>
    To cast a vote, you will be led through the following steps.<br />
    Pokud ještě nejste přihlášen, budete k tomu vyzván na konci hlasovacího procesu.
<p>
    
<ol>
    <li> <b>Select</b> your preferred options.<br />
<span style="font-size: 14pt;">Můžete snadno přecházet kupředu a zpět.</span></li>
<br />

    <li> <b>Zkontrolujte a potvrďte</b> svou volbu.<br />
<span style="font-size: 14pt;">
  Your choices are encrypted safely inside your browser, and you get a smart ballot tracker.<br />
</span>
</li>
<br />

    <li> <b>Odešlete</b> své zašifrované hlasování.<br />
<span style="font-size: 14pt;">
You will be asked to log in to submit your encrypted ballot for tallying.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Začít</button></div>
</div>

