
<div id="questions_div">
  <p>Odevzdání hlasu sestává z několika kroků popsaných níže. Pokud ještě nejste přihlášen, budete k tomu vyzván na konci hlasovacího procesu.<p>

  <ul class="voting-instructions">
    <li>
      <h3>1. Vyberte si možnosti, jimž dáváte přednost</h3>
      <p>Můžete snadno přecházet kupředu a zpět.</p>
    </li>

    <li>
      <h3>2. Zkontrolujte a potvrďte svou volbu</h3>
      <p>Vaše volba bude bezpečně zašifrována ve vašem prohlížeči a obdržíte kód pro sledování hlasovacího lístku.</p>
    </li>
    <li>
      <h3>3. Odešlete svůj zašifrovaný hlasovací lístek</h3>
      <p>Před odesláním vašeho zašifrovaného hlasovacího lístku ke zpracování budete vyzván, abyste se přihlásil.</p>
    </li>
  </ul>

  <div class="buttonwrap">
    <button class="button" onclick="BOOTH.show_question(0);">Začít</button>
  </div>
</div>

