{% if election.voting_has_started %}
  {% if not election.voting_has_stopped %}

<div id="cast_form">
<form id="cast_confirm_form" method="post" action="" onsubmit="show_waiting()">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
{% if status_update_label %}
<div class="round" style="background: #eee; padding: 10px; border: 1px dashed #888;">
<input type="checkbox" name="status_update" value="1" checked /> {{status_update_label}}<br />
<blockquote style="font-size: 1.3em;">
"{{status_update_message}}"
</blockquote>
<input type="hidden" name="status_update_message" value="{{status_update_message}}" />
</div>
<br />
{% endif %}

Jste přihlášeni jako <u>{{voter.display_html_big|safe}}</u><br /><br />

    <button type="submit" class="large">ODEVZDAT tento lístek</button>
    <span style="font-size:0.8em;"><br />Můžete odevzdat tolik lístků, kolik chcete.<br />Pouze poslední se počítá.</span>
</form>

<p>
    <button class="tiny" onclick="document.location='./view';">zrušit</button><br />
    <span style="font-size:0.8em;">Pokud zrušíte nyní, váš lístek <em>NEBUDE</em> zaznamenán.<br />
    Samozřejmě můžete proces hlasování zopakovat od začátku.</span>
</p>

<!-- for now, for CSRF protection, no auto-submit just yet (benadida) -->
<!-- <script>$('#cast_confirm_form').submit()</script> -->

</div>
  {% else %}
<p style="font-size:1.4em;">
  Hlasování bylo ukončeno, sorry.
</p>
  {% endif %}
{% else %}
<p style="font-size:1.4em;">
  Hlasování ještě nezačalo, sorry.
</p>
{% endif %}
