Prosím zadejte ID voliče a heslo které jste obdrželi emailem.<br /><br />
<form method="post" action="{% url "helios.views.password_voter_login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />
<table>
    {{password_login_form.as_table}}
</table>
{% if bad_voter_login %}
<p style="color: red;">
špatné ID voliče nebo heslo, zkuste znovu prosím.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<p class="small">
Můžete vhodit lístků kolik chcete:<br />pouze poslední se počítá.
</p>
<input type="submit" class="button" value="cast ballot" />
{% else %}
<input type="submit" class="button" value="log in" />
{% endif %}
</form>

