{% extends TEMPLATE_BASE %}
{% block title %}Confirm Vote{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Hlas úspěšně odeslán!</h1>

<p>
    Gratulujeme, váš hlasy byl <b><u>úspěšně odeslán</u></b>!
</p>

<p>
  Váš chytrý sledovač lístku je:<br /><br />
    <tt style="font-size:1.8em; font-weight: bold; padding-left: 20px;">  {{vote_hash}}</tt>
</p>

<p>
<iframe src="{{socialbuttons_url}}" frameborder="0" border="0" style="width: 300px; height:35px;" scrolling="no" align="middle"></iframe>
</p>

{% if logout %}
<p><b>Pro vaši bezpečnost jsme vás odhlásili.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="/auth/logout">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "helios.views.one_election_view" election.uuid %}">vrátit se k informacím o volbě</a> ]
</p>

{% endblock %}
