{% extends TEMPLATE_BASE %}

{% block title %}Spočítat výsledek &mdash; {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Spočítej výsledek <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">zrušit</a>]</span></h2>

  <p>
    Chystáte se spočítat výsledek pro toto hlasování. Pouze vy pak uvidíte výsledek.
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" class="button" value="compute the tally!" />
  </form>

{% endblock %}
