{% extends TEMPLATE_BASE %}

{% block title %}Spočítat zašifrovaný výsledek pro {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">Spočítat výsledek pro hlasování: {{election.name}}</h2>

<div id="instructions">
{% if election.num_cast_votes %}
<p>
    Chystáte se nechat spočítat zašifrovaný výsledek hlasování <b>{{election.name}}</b>.
</p>

<p>
    Jakmile tak učiníte, voliči již nebudou moci odevzdávat hlasovací lístky.
</p>

<form method="post" action="" onsubmit="alert('sčítání hlasů bylo zahájeno')" class="pretty">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Spočítat zašifrovaný výsledek!" />
<button onclick="document.location='./view'; return false;">ještě ne</button>
</form>
{% else %}
<p>
V tomto hlasování nebyl odevzdán žádný hlas. Aby mohl být spočítán výsledek, musí být odevzdán aspoň jeden hlas.<br /><br />
<a href="./view">zpět na hlasování</a>
</p>
{% endif %}
</div>

<br /><br />
{% endblock %}
