{% extends TEMPLATE_BASE %}
{% block title %}Potvrďte svůj hlas{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "Ještě jste neodevzdal svůj hlasovací lístek! Chcete-li, aby váš hlas byl započten, musíte hlasovací proces dokončit.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<p style="margin-top: 10px">Odesílám váš hlas v hlasování <b>{{election.name}}</b>...</p>

<div id="waiting_div">
    Kontroluji a odevzdávám váš hlasovací lístek<br />
    <img src="/static/helios/loading.gif" />
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% if user %}
<h1>Pozor!</h1>
<p>
Jste přihlášen jako <u>{{user.display_html_small|safe}}</u>, ale toto hlasování<br />
vyžaduje speciální oprávnění.
</p>
{% endif %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Je nám líto!<h1>
<b>Bohužel <em>
  {% if election.openreg %}
    <u>nejste oprávněn</u></em> hlasovat v tomto hlasování.
  {% else %}
    nejste v seznamu voličů</em> pro toto hlasování a seznam voličů byl již uzavřen.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "helios.views.one_election_view" election.uuid %}">návrat na úvodní stránku hlasování</a>]
</p>
{% else %}
<p>
<h1>Pozor!  Musíte se přihlásit.</h1>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Tohoto hlasování se může zúčastnit <em>kdokoli</em>, přihlaste se tedy uživatelským účtem, kterému dáváte přednost.
  {% endif %}

{% else %}
  Tohoto hlasování se mohou zúčastnit pouze <em>oprávnění voliči</em>, přihlaste se tedy 
  takovým uživatelským účtem, který vás opravňuje volit.
{% endif %}
</p>

{{login_box|safe}}

<br />
Nemusíte mít obavy, svůj vyplněný hlasovací lístek budete mít k dispozici i po přihlášení.
{% endif %}

{% endif %}
<br />
Váš kód pro sledování hlasovacího lístku je:<br /><br />
    <tt style="font-size:1.3em; font-weight: bold; padding-left: 20px;">  {{vote_fingerprint}}</tt>
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
