{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Uzavřít hlasovací lístek</h2>
<p>
Jakmile je hlasovací lístek uzavřen, otázky a možnosti již nemohou být změněny.<br />
Bude také uzavřen seznam trustees jejich veřejných klíčů.
</p>

<p>
{% if election.openreg %}
Registrace pro toto hlasování je <b>otevřená</b>, což znamená, že hlasovat může kdokoli, a to i po uzavření hlasovacího lístku.
{% else %}
Registrace pro toto hlasování je <b>uzavřená</b>, což znamená že jen voliči, které určíte, budou moci odevzdat hlasovací lístek. Jste-li administrátor, budete moci upravit seznam voličů i během hlasování.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
Před kontaktováním voličů musíte uzavřít hlasovací lístek.
</p>
{% endif %}

{% if issues_p %}
<p>
    Před uzavřením tvorby hlasování musíte:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "helios.views.one_election_view" election.uuid %}">zpět k hlasování</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Uzavřít hlasovací lístek" />
<button onclick="document.location='./view'; return false;">ještě ne</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
