{% extends "helios/templates/cryptobase.html" %}
{% block content %}
<script language="javascript">

var PUBLIC_KEY, PROOF;

function clear_keys() {
    $('#sk_download').hide();
    $('#pk_form').hide();
    $('#buttons').show();
    $('#clear_button').hide();
    $('#reuse').hide();
}

function show_key_reuse() {
    $('#generator').hide();
    $('#reuse').show();
}

SECRET_KEY = null;

function reuse_key(secret_key_text) {
    SECRET_KEY = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(secret_key_text));

    $('#reuse').hide();
    setup_public_key_and_proof();
    show_pk();
}

// start collecting some local randomness
sjcl.random.startCollectors();

$(document).ready(function() {
    clear_keys();
    $('#generator').hide();

    // get some more server-side randomness for keygen
    $.getJSON('../../get-randomness', function(result) {
       sjcl.random.addEntropy(result.randomness);
       BigInt.setup(function() {
          ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
          $('#waiting_message').hide();
          $('#generator').show();
       });
    });
});


function generate_keypair() {
    $('#buttons').hide();
    
    try {
        SECRET_KEY = ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    setup_public_key_and_proof();
}

function setup_public_key_and_proof() {    
    // generate PoK of secret key
    PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY = SECRET_KEY.pk;

    var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
    $('#pk_textarea').val(pk_val);
    $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

    $('#clear_button').show();
    show_sk();
}

function show_sk() {
    $('#sk_download').show();
}

function download_sk() {
    UTILS.open_window_with_content(jQuery.toJSON(SECRET_KEY), "application/json");
}

function show_pk() {
    $('#sk_download').hide();
    $('#pk_hash').show();
    $('#pk_form').show();
}

</script>

<h2 class="title">{{election.name}} &mdash; Trustee {{trustee.name}} &mdash; - nastavení klíče</h2>

<p>
  Jako trustéé nyní musíte nastavit svůj klíč pro toto hlasování.
</p>

<p id="waiting_message">
  Vyčkejte, prosím, nahrává se generátor...
</p>

<p id="generator">

<span id="buttons"><button onclick="generate_keypair(); return false;" id="generate_button">Vytvoření klíčů pro hlasování</button></span>

<br /><br />
Pokud máte již vytvořenu dvojici klíčů, můžete ji <a href="javascript:show_key_reuse()">znovu použít</a>.
</p>

<div id="reuse">
<h3>Opětovné použití klíče</h3>

<p>
Vložte celý svůj tajný klíč do okénka níže:
</p>
<form onsubmit="reuse_key(this.secret_key.value); return false;">
<textarea cols="80" rows="5" wrap="soft" name="secret_key">
</textarea>
<br />
<input type="submit" value="opětovně použít" />
</form>
</div>

<div id="sk_download">
<h3>Váš tajný klíč</h3>
<span id="clear_button">
Váš klíč byl vytvořen, ale můžete se rozhodnout<br /><a href="javascript:clear_keys();">vymazat ho z paměti a začít znovu</a>.<br />
</span>

<p>
    <button style="font-size:16pt;" onclick="download_sk(); $('#pk_link').show();">Uložit tajný klíč</button>
</p>

<p style="display: none;" id="pk_link">
  <a href="javascript:show_pk();">váš klíč byl uložen, můžeme pokračovat</a>.
</p>
</div>

<form method="post" id="pk_form" action="{% url "helios.views.trustee_upload_pk" election.uuid trustee.uuid %}">
<h3>Váš veřejný klíč</h3>
<p>
    Nyní je třeba nahrát váš veřejný klíč na server.
</p>
<p>
    Otisk vašeho veřejného klíče je: <tt id="pk_hash" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
    Můžete si ho uložit kvůli ověření, že váš veřejný klíč byl v pořádku uložen na server.<br />
    (Nezobrazujeme celý váš veřejný klíč, neboť není potřeba, abyste si ho ukládal, otisk postačuje.)
</p>
<textarea id="pk_textarea" name="public_key_json" cols="80" rows="10" style="display:none;">
</textarea>
<input type="submit" value="Nahrát váš veřejný klíč na server">
</form>

<div id="applet_div"></div>
<br /><br />
{% endblock %}
