{% extends "helios/templates/cryptobase.html" %}

{% block title %}Trustees pro {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Trustees <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">zpět k hlasování</a>]</span></h3>

<p>
    Trustees odpovídají za dešifrování výsledku hlasování.<br />
    Každý trustee si vygeneruje svůj pár klíčů a nahraje veřejný klíč na Helios.<br />
    Když je zapotřebí dešifrovat, každý trustee použije svůj soukromý klíč.
</p>

{% if not election.frozen_at %}

<p>
  Helios je automaticky váš první trustee a automaticky provede generování svého páru klíčů i dešifrování výsledku.<br />
  Chcete-li, můžete přidat další trustees, a můžete dokonce odstranit z trustees Helios.<br />
  Nečiňte to však, nejste-li důkladně obeznámeni s rolí, jakou trustee v hlasování hraje.
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Přidání dalších trustees znamená o něco víc práce při určování výsledků hlasování.\nBudete potřebovat aby si trustees vytvořili své páry klíčů a bezpečně uschovali své soukromé klíče.\n\nPokud nevíte, oč jde, doporučujeme vám\nkliknout na Cancel a nechat Helios, aby výsledek hlasování spočítal sám.'));" href="{% url "helios.views.new_trustee" election.uuid %}">přidat trusteeho</a> ]
</p>
{% if not election.has_helios_trustee %}
<p>
    <a href="{% url "helios.views.new_trustee_helios" election.uuid %}">přidat mezi trustees Helios</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not trustees|length %}

{% else %}
{% for t in trustees %}
<h5> Trustee #{{forloop.counter}}: {{t.name}} 
{% if admin_p %}
{% if t.secret_key %}
{% if not election.frozen_at %}[<a onclick="return confirm('Určitě chcete odstranit Helios jakožto trusteeho?');" href="{% url "helios.views.delete_trustee" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('Určitě chcete odstranit tohoto trusteeho?');" href="{% url "helios.views.delete_trustee" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
[<a onclick="return confirm('Chcete tomuto trusteemu poslat admin URL?');" href="{% url "helios.views.trustee_send_url" election.uuid t.uuid %}">poslat login</a>]
{% endif %}
{% endif %}
</h5>

<p>
{% if t.public_key_hash %}
  Otisk veřejného klíče: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
{% else %}
Veřejný klíč ještě nebyl nahrán.
{% endif %}
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>Tento trustee již dešifroval výsledek.</b>
{% else %}
<em>Čekáme na dílčí dešifrování výsledku.</em>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
