{% extends TEMPLATE_BASE %}
{% block title %}Statistiky{% endblock %}

{% block content %}
<h1>Admin</h1>

<ul>
<li> <a href="{% url "helios.stats_views.elections" %}">Hlasování</a></li>
<li> <a href="{% url "helios.stats_views.recent_votes" %}">Naposledy odevzdané hlasy</a></li>
<li> <a href="{% url "helios.stats_views.recent_problem_elections" %}">Nejnovější problematická hlasování</a></li>
</ul>

<p><b>{{num_votes_in_queue}}</b> hlasů ve frontě. {% if num_votes_in_queue %}[<a href="{% url "helios.stats_views.force_queue" %}">vynutit zpracování</a>]{% endif %}</p>

{% endblock %}
