{% extends "helios/templates/cryptobase.html" %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; domovská stránka trusteeho {{trustee.name}} </span></h2>

<p>
{% if trustee.public_key_hash %}
Úspěšně jste nahrál svůj veřejný klíč.<br />
Otisk vašeho veřejného klíče je: <b>{{trustee.public_key_hash}}</b>.<br />
Můžete <a href="{% url "helios.views.trustee_check_sk" election.uuid trustee.uuid %}">ověřit, že máte správný soukromý klíč</a>.
{% else %}
<a href="{% url "helios.views.trustee_keygenerator" election.uuid trustee.uuid %}">Nastavit váš klíč</a>
{% endif %}
</p>

<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
Úspěšně jste nahrál vaši část dešifrování.
{% else %}
    Zašifrovaný výsledek hlasování je připraven.<br />
    <a href="{% url "helios.views.trustee_decrypt_and_prove" election.uuid trustee.uuid %}">dešifrovat vaším klíčem</a>
{% endif %}
{% else %}
Jakmile bude hlasování sečteno, vraťte se na tuto stránku se svým soukromým klíčem určeným k dešifrování.<br />
Měl byste si uložit e-mail s odkazem na vaši stránku trusteeho, nebuť obsahuje údaje potřebné k návratu na ni.
{% endif %}
</p>



{% endblock %}
